<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Buongiorno <%= @user.name %>,
    <p>
      Ti informiamo che la Tua tessera scade tra 15 giorni, dopo i quali non potrai usufruire di tutte le funzionalità del Tuo attuale abbonamento. <br>
      Puoi verificare lo stato dell'abbonamento nella tua area riservata.
    <p>
      Ti ricordiamo che puoi contattare l'amministratore per ottenere ulteriori informazioni oppure per rinnovare la Tua tessera.
    </p>
    <p>
      Continua ad osservare il cielo con noi e a seguirci su <a href="https://www.stellar1v2.herokuapp.com"> Stellar1 </a>.
    </p>
    <p>
      Grazie per Tua fiducia e buona giornata!
      <br>
      Il team Stellar1
    </p>
  </body>
</html>
