<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Creazione nuovo luogo osservativo</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', location: @location %>
  </div>
</div>
<%= render 'layouts/footer_logged'%>
