<footer>
	<div class="row footer">
		<div class="col-sm-6">
		<h1>Sede</h1>
		<p>Osservatorio s.r.l.<br />
		Sede legale: via X 1, Udine<br />
		Partita Iva: 12345678900123345770998765 <br />
		iscritta presso il Registro AAA al n. <br />
		in persona del legale rappresentante pro tempore, <br />
		Sig. Luca Verdi </p>
		</div>
		<div class="col-sm-6">
		<h1>Contatti</h1>
		<p>Luca Verdi<br />
		e-mail:<a href="mailto:luca.verdi@mail.com"> luca.verdi@mail.com</a></p>
		<p><a href="">Mappa del sito</a></p>
		<p>Sito sviluppato da <a href="">Alpha1</a></p>
		</div>
	</div>
</footer>